* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("back_image.jpg");
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the background fixed when scrolling */
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
}

.container {
    background-color: #ece8e8;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%; /* Responsive width */
    max-width: 650px; /* Prevents it from being too wide on large screens */
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #d73a3a;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #725de4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #948ceb;
}

/* For Final Result*/
.result-message {
    margin-top: 20px;
    padding: 15px;
    border-radius: 14px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff; /* White text for better contrast */
}

.success {
    background-color: #4caf50; /* Green background for success */
}

.failure {
    background-color: #f44336; /* Red background for failure */
}

